<!--<div>
    <p>name: {{name}}</p>
    <p>Street: {{addrees.street}}</p>
    <p>Cuidad: {{addrees.city}}</p>
    <p>Hobbies</p>
    <ul>
    
        <li *ngFor = "let hobby of hobbies">
            {{hobby}}
        </li>
    </ul>

</div>-->


<form (submit)="addUser(newUser)">
    <input type ="text" #newUser> 
    <button>
        send User!
    </button>
</form>

<ul>
    <li *ngFor = "let user of users"> {{user}} 
        <button (click)="deleteUser(user)">X</button>
    </li>
</ul>


<div>
    <form>
        <input type="text" name ="name" [(ngModel)]= "name">
        <input type="text" name ="age" [(ngModel)]="age">
    </form>

    name: {{name}} <br>j

    age: {{age}}
</div>

<hr>








